<ion-header-bar class="bar-positive">
    <a href="#/tabs/list" class="button button-icon ion-backspace"></a>
    <h1 class="title">Details</h1>
</ion-header-bar>

<ion-view>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="user in data | filter : {id: selectedID}"
            class="item-body ">
                <h2 ng-bind="::user.name"></h2>
                <h3 ng-bind="::user.department | uppercase"></h3>
                <h4 ng-bind="::user.pos | uppercase"></h4>

                <div id="teamCouch">
                    <div id="teamWrapper">
                        <div class="sofa sofa_left"></div>

                        <div class="imgWrapper">
                            <img ng-src="img/team/{{user.id}}.png">
                        </div>

                        <div class="sofa sofa_right"></div>
                    </div>
                </div>

                <div class="button-bar">
                    <button class="button button-positive button-outline ion-android-mail icon-right" ng-click="mailTo(user)">
                        Mail
                    </button>

                    <button class="button button-positive button-outline ion-android-phone-portrait icon-right" ng-click="callTo(user)">
                        Anrufen
                    </button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
