

<div class="infoLayer top" style="display: block;">
    <strong class="name">Alexandra Böllersen</strong>
		<span class="department">
			Beratung/Key Account-Management

					</span>
    <span itemprop="telephone" class="teamContact">+49 511 987798-56</span>
    <a href="mailto:alexandra.boellersen@neuwaerts.de" itemprop="email" class="emaillink">alexandra.boellersen@neuwaerts.de</a>
    <span class="close ir">x</span>
</div>

<div class="infoLayer bottom" style="display: block;">
    <strong class="name">Hanna Kallischko</strong>
		<span class="department">
			Beratung/Key Account-Management

					</span>
    <span itemprop="telephone" class="teamContact">+49 511 987798-41</span>
    <a href="mailto:hanna.kallischko@neuwaerts.de" itemprop="email" class="emaillink">hanna.kallischko@neuwaerts.de</a>
    <span class="close ir">x</span>
</div>

<div class="infoLayer top" style="display: block;">
    <strong class="name">Andrea Krug</strong>
		<span class="department">
			Beratung/Key Account-Management

					</span>
    <span itemprop="telephone" class="teamContact">+49 511 987798-25</span>
    <a href="mailto:andrea.krug@neuwaerts.de" itemprop="email" class="emaillink">andrea.krug@neuwaerts.de</a>
    <span class="close ir">x</span>
</div>


<div class="infoLayer top" style="display: none;">
    <strong class="name">Claudia Müller</strong>
		<span class="department">
			Konzeption

					</span>
    <span itemprop="telephone" class="teamContact">+49 511 987798-14</span>
    <a href="mailto:claudia.mueller@neuwaerts.de" itemprop="email" class="emaillink">claudia.mueller@neuwaerts.de</a>
    <span class="close ir">x</span>
</div>



<div class="infoLayer top" style="display: none;">
    <strong class="name">Corina Schultheiß</strong>
		<span class="department">
			Beratung/Key Account-Management

					</span>
    <span itemprop="telephone" class="teamContact">+49 511 987798-18</span>
    <a href="mailto:corina.schultheiss@neuwaerts.de" itemprop="email" class="emaillink">corina.schultheiss@neuwaerts.de</a>
    <span class="close ir">x</span>
</div>

<div class="infoLayer bottom" style="display: none;">
    <strong class="name">Johannes Fischer-Happel</strong>
		<span class="department">
			Entwicklung

					</span>
    <span itemprop="telephone" class="teamContact">+49 511 987798-58</span>
    <a href="mailto:johannes.fischer-happel@neuwaerts.de" itemprop="email" class="emaillink">johannes.fischer-happel@neuwaerts.de</a>
    <span class="close ir">x</span>
</div>

<div class="infoLayer top" style="display: none;">
    <strong class="name">Victor Pontes</strong>
		<span class="department">
			Beratung/Key Account-Management

					</span>
    <span itemprop="telephone" class="teamContact">+49 511 987798-71</span>
    <a href="mailto:victor.pontes@neuwaerts.de" itemprop="email" class="emaillink">victor.pontes@neuwaerts.de</a>
    <span class="close ir">x</span>
</div>


<div class="infoLayer top" style="display: none;">
    <strong class="name">Malte Gärtner</strong>
		<span class="department">
			Text

					</span>
    <span itemprop="telephone" class="teamContact">+49 511 987798-73</span>
    <a href="mailto:malte.gaertner@neuwaerts.de" itemprop="email" class="emaillink">malte.gaertner@neuwaerts.de</a>
    <span class="close ir">x</span>
</div>

<div class="infoLayer bottom" style="display: none;">
    <strong class="name">Stephan Röbbeln</strong>
		<span class="department">
			Beratung/Key Account-Management

					</span>
    <span itemprop="telephone" class="teamContact">+49 511 987798-75</span>
    <a href="mailto:stephan.roebbeln@neuwaerts.de" itemprop="email" class="emaillink">stephan.roebbeln@neuwaerts.de</a>
    <span class="close ir">x</span>
</div>

<div class="infoLayer top" style="display: none;">
    <strong class="name">Tobias Premper</strong>
		<span class="department">
			Text

					</span>
    <span itemprop="telephone" class="teamContact">+49 511 987798-0</span>
    <a href="mailto:tobias.premper@neuwaerts.de" itemprop="email" class="emaillink">tobias.premper@neuwaerts.de</a>
    <span class="close ir">x</span>
</div>


<div class="infoLayer top" style="display: none;">
    <strong class="name">Pascal Franzke</strong>
		<span class="department">
			Entwicklung

					</span>
    <span itemprop="telephone" class="teamContact">+49 511 987798-0</span>
    <a href="mailto:pascal.franzke@neuwaerts.de" itemprop="email" class="emaillink">pascal.franzke@neuwaerts.de</a>
    <span class="close ir">x</span>
</div>



<div class="infoLayer bottom" style="display: none;">
    <strong class="name">Daniel Terek</strong>
		<span class="department">
			Text

					</span>
    <span itemprop="telephone" class="teamContact">+49 511 987798-61</span>
    <a href="mailto:daniel.terek@neuwaerts.de" itemprop="email" class="emaillink">daniel.terek@neuwaerts.de</a>
    <span class="close ir">x</span>
</div>

<div class="infoLayer top" style="display: none;">
    <strong class="name">Rolf Braase</strong>
		<span class="department">
			Entwicklung

					</span>
    <span itemprop="telephone" class="teamContact">+49 511 987798-76</span>
    <a href="mailto:rolf.braase@neuwaerts.de" itemprop="email" class="emaillink">rolf.braase@neuwaerts.de</a>
    <span class="close ir">x</span>
</div>




<div class="infoLayer top" style="display: none;">
    <strong class="name">Diana Schumacher</strong>
		<span class="department">
			Beratung/Key Account-Management

					</span>
    <span itemprop="telephone" class="teamContact">+49 511 987798-37</span>
    <a href="mailto:diana.schumacher@neuwaerts.de" itemprop="email" class="emaillink">diana.schumacher@neuwaerts.de</a>
    <span class="close ir">x</span>
</div>

<div class="infoLayer bottom" style="display: none;">
    <strong class="name">Marc Druskus</strong>
		<span class="department">
			Entwicklung

							<br>Systemadministration
					</span>
    <span itemprop="telephone" class="teamContact">+49 511 987798-36</span>
    <a href="mailto:marc.druskus@neuwaerts.de" itemprop="email" class="emaillink">marc.druskus@neuwaerts.de</a>
    <span class="close ir">x</span>
</div>


<div class="infoLayer bottom" style="display: none;">
    <strong class="name">Michael Bracklo</strong>
		<span class="department">
			Beratung/Key Account-Management

					</span>
    <span itemprop="telephone" class="teamContact">+49 511 987798-13</span>
    <a href="mailto:michael.bracklo@neuwaerts.de" itemprop="email" class="emaillink">michael.bracklo@neuwaerts.de</a>
    <span class="close ir">x</span>
</div>


<div class="infoLayer bottom" style="display: none;">
    <strong class="name">Felix Wahner</strong>
		<span class="department">
			Entwicklung

							<br>Developer Evangelist
					</span>
    <span itemprop="telephone" class="teamContact">+49 511 987798-29</span>
    <a href="mailto:felix.wahner@neuwaerts.de" itemprop="email" class="emaillink">felix.wahner@neuwaerts.de</a>
    <span class="close ir">x</span>
</div>

<div class="infoLayer top" style="display: none;">
    <strong class="name">Bettina Stühmeier</strong>
		<span class="department">
			Beratung/Key Account-Management

							<br>Leitung Beratung<br>
Key Account Management
					</span>
    <span itemprop="telephone" class="teamContact">+49 511 987798-39</span>
    <a href="mailto:bettina.stuehmeier@neuwaerts.de" itemprop="email" class="emaillink">bettina.stuehmeier@neuwaerts.de</a>
    <span class="close ir">x</span>
</div>

<div class="infoLayer bottom" style="display: none;">
    <strong class="name">Monika Sommer</strong>
		<span class="department">
			Entwicklung

							<br>Leitung Entwicklung<br>
Ausbildungsleitung
					</span>
    <span itemprop="telephone" class="teamContact">+49 511 987798-26</span>
    <a href="mailto:monika.sommer@neuwaerts.de" itemprop="email" class="emaillink">monika.sommer@neuwaerts.de</a>
    <span class="close ir">x</span>
</div>

