<ion-header-bar class="bar-positive">
    <button class="button button-icon ion-ios-minus-outline" ng-click="toggleDelete()"></button>
    <h2 class="title">medienlabor</h2>
    <button class="button button-icon ion-navicon" ng-click="toggleReorder()"></button>
</ion-header-bar>

<div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Suche" ng-model="searchstring">
    </label>
</div>

<ion-content class="has-subheader">
    <ion-refresher pulling-text="Ziehe zum aktuallisieren..." on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list
            show-reorder="enableReorder"
            show-delete="enableDelete">

        <ion-item class="item-avatar"
                  ng-repeat="user in data | filter : searchstring"
                  ng-class="{'fav':user.fav}" href="#/tabs/list/{{user.id}}">

            <img ng-src="img/{{user.id}}.jpg">
            <h2 ng-bind="::user.name"></h2>
            <h3 ng-bind="::user.pos | uppercase"></h3>
            <p ng-bind="::user.desc"></p>

            <ion-option-button class="button button-assertive ion-android-phone-portrait button-large"
                               ng-click="callTo(user)">
            </ion-option-button>

            <ion-option-button class="button button-positive ion-android-mail button-large" ng-click="mailTo(user)">
            </ion-option-button>

            <ion-option-button class="button button-balanced ion-star button-large" ng-click="toggleFav(user)">
            </ion-option-button>

            <ion-delete-button class="ion-minus-circled" ng-click="deleteItem($index)">
            </ion-delete-button>

            <ion-reorder-button class="ion-navicon" on-reorder="moveItem(user,$fromIndex,$toIndex)">
            </ion-reorder-button>

        </ion-item>
    </ion-list>
</ion-content>